.ant-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .ant-layout-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
  }